.container {
    max-width: 50ch;
}

footer {
   display: flex;
   justify-content: space-between; 
}

[name='new-exercise']  {
    width: 100%;
}

article > p {
    margin-block: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}