:root {
    --inline-gap: 6px;
}

.container {
    max-width: 50ch;
}

h1 {
    font-size: 1.44rem;
}

h2 {
    font-size: 1.25rem;
}

.all-reps > input[name="reps"] {
    padding-inline: 0.5rem;
    width: 3rem;
}

.all-reps {
    --inline-gap: 0.8rem;

    display: flex;
    flex-wrap: wrap;
    column-gap: var(--inline-gap);
}

.half-screen-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--inline-gap);
}

all-reps > .half-screen-buttons{
    margin-block-end: var(--space-4);
}


.exercise-actions {
    display: flex; 
    column-gap: var(--inline-gap);
}

.current-exercise {
    margin-block-end: var(--space-4);
}
.exercise-actions > :last-child {
    flex: 1;
}

.workout {
    padding-block: var(--space-4);
}

.workout h1 {
    margin-block-start: var(--space-6 );
}

hr {
    margin-block: 1rem;
}

label button {
    margin-block-start: var(--space-1);
}

