.container {
    max-width: 50ch;
}

.separate-buttons {
   display: flex;
   justify-content: space-between; 
}

[name='new-exercise']  {
    width: 100%;
}

h1 {
    font-size: 1.44rem;
}

h2 {
    font-size: 1.25rem;
}


.reps {
    padding-inline: 0.5rem;
    width: 3rem;
}

.weight {
    width: 6rem;
}

.all-reps {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
}

.half-screen-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
}

input {
    width: 100%;
}